* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #008080;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    display: flex;
}

.dots {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    animation: animate 1.2s linear infinite;  
}

@keyframes animate {
    0%, 20%, 60%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(2)
    }
}



.a {
    animation-delay: 0.20s;
}
.b {
    animation-delay: 0.40s;
}
.c {
    animation-delay: 0.6s;
}
.d {
    animation-delay: 0.8s;
}
.e {
    animation-delay: 1s;
}
